<div class="container-fluid">

    <app-page-title title="{{'Users List'| translate}}" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="row mb-2">
              <div class="col-sm-4">
                <div class="search-box me-2 mb-2 d-inline-block">
                  <div class="position-relative">
                    <input type="text" class="form-control" id="searchTableList" placeholder="{{'HEADER.SEARCH'|translate}}" [(ngModel)]="term" (ngModelChange)="searchJob()">
                    <i class="bx bx-search-alt search-icon"></i>
                  </div>
                </div>
              </div>
              <div class="col-sm-8">
                <div class="text-sm-end">
                  <!-- <button  type="button" data-bs-toggle="modal" (click)="newContactModal.show()" class="btn btn-primary btn-rounded waves-effect waves-light addContact-modal mb-2"><i class="mdi mdi-plus me-1"></i> {{'New Merchant'|translate}}</button> -->
                  <button [routerLink]="['/users/create']" type="button" data-bs-toggle="modal"  class="btn btn-primary btn-rounded waves-effect waves-light addContact-modal mb-2"><i class="mdi mdi-plus me-1"></i> {{'New Merchant'|translate}}</button>

                </div>
              </div><!-- end col-->
            </div>
            <!-- end row -->
            <div class="table-responsive">
              <table class="table align-middle table-nowrap table-hover dt-responsive nowrap w-100" id="userList-table">
                <thead class="table-light">
                  <tr>
                    <th scope="col" style="width: 40px;">#</th>
                    <th scope="col">{{'Merchant Name'| translate}}</th>
                    <th scope="col">{{'Contact Email'| translate}}</th>
                    <th scope="col">{{'Total Orders' | translate}}</th>
                    <th scope="col">{{'Status'| translate}}</th>
                    <th scope="col" style="width: 200px;">{{'Actions'| translate}}</th>
                  </tr>
                </thead>
                <tbody>
                  @for (data of merchantList; track $index) {
                  <tr *ngIf="data.status == 'active' ||data.status == 'inactive' ">
                    <td>
                        <div class="form-check font-size-16">
                          <input class="form-check-input" type="checkbox" id="transactionCheck{{data.index}}" value="{{data.id}}" [(ngModel)]="data.state">
                          <label class="form-check-label" for="transactionCheck{{data.index}}"></label>
                        </div>
                      </td>
                    <td>
                      <h5 class="font-size-14 mb-1"><a href="javascript: void(0);" class="text-dark">{{data.username}}</a>
                      </h5>
                      
                    </td>
                   
                    <td>{{data.email}}</td>
                    
                    <td>
                      {{data.totalOrder}}
                    </td>
                    <td>
                        <span class="badge badge-pill badge-soft-success font-size-11" [ngClass]=" { 'badge-soft-success': data.status === 'active',
                                      'badge-soft-danger':data.status === 'inactive' }">{{data.status}}</span>
                      </td>
                    <td>
                      <ul class="list-inline font-size-20 contact-links mb-0">
                        <!-- <li class="list-inline-item px-2">
                          <a href="javascript:void(0);" tooltip="Message"><i class="bx bx-message-square-dots"></i></a>
                        </li>
                        <li class="list-inline-item px-2">
                          <a href="javascript:void(0);" tooltip="Profile"><i class="bx bx-user-circle"></i></a>
                        </li> -->
                        <td>
                          <ul class="list-unstyled hstack gap-1 mb-0">
                            <li data-bs-toggle="tooltip" data-bs-placement="top" title="{{'View'|translate}}">
                              <a routerLink="/jobs/details" class="btn btn-sm btn-soft-primary"><i class="mdi mdi-eye-outline"></i></a>
                            </li>
                            <li data-bs-toggle="tooltip" data-bs-placement="top" title="{{'Edit'|translate}}">
                              <!-- <a href="javascript:void(0);" class="btn btn-sm btn-soft-info" (click)="editDataGet(data.id,content)"><i class="mdi mdi-pencil-outline"></i></a> -->
                              <a href="javascript:void(0);" class="btn btn-sm btn-soft-info" ><i class="mdi mdi-pencil-outline"></i></a>

                            </li>
                            <li data-bs-toggle="tooltip" data-bs-placement="top" title="{{'Disable'| translate}}">
                              <!-- <a href="javascript:void(0);" data-bs-toggle="modal" class="btn btn-sm btn-soft-danger" (click)="delete($event)"><i class="mdi mdi-delete-outline"></i></a> -->
                              <a href="javascript:void(0);" data-bs-toggle="modal" class="btn btn-sm btn-soft-danger" (click)="disableUser(data.id)"><i class="mdi mdi-delete-outline"></i></a>

                            </li>
                          </ul>
                        </td>
                        <!-- <li class="list-inline-item">
                          <div dropdown class="dropdown">
                            <a dropdownToggle href="javascript: void(0);" class="dropdown-toggle card-drop px-2 show" aria-expanded="true"> <i class="mdi mdi-dots-horizontal font-size-18"></i> </a>
                            <ul *dropdownMenu class="dropdown-menu dropdown-menu-end show" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate(0px, 31.25px);" placement="bottom-end">
                              <li><a href="javascript:void(0);" (click)="editUser($index)" class="dropdown-item edit-list" data-edit-id="8"><i class="mdi mdi-pencil font-size-16 text-success me-1"></i> Edit</a></li>
                              <li><a href="javascript:void(0);" (click)="removeUser(data.id)" class="dropdown-item remove-list" data-remove-id="8"><i class="mdi mdi-trash-can font-size-16 text-danger me-1"></i> Delete</a></li>
                            </ul>
                          </div>
                        </li> -->
                      </ul>
                    </td>
                  </tr>}
                </tbody>
              </table>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <ul class="pagination pagination-rounded justify-content-center mt-4">
                  <pagination class="pagination-wrap hstack gap-2" [totalItems]="returnedArray?.length" [itemsPerPage]="10" (pageChanged)="pageChanged($event)"></pagination>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal -->
  <div bsModal #newContactModal="bs-modal" class="modal fade" id="newContactModal" tabindex="-1" aria-labelledby="newContactModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newContactModalLabel">{{'Add New Merchant'| translate}}</h5>
          <button type="button" class="btn-close" (click)="newContactModal.hide()"></button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="saveUser()" [formGroup]="createContactForm" autocomplete="off" class="needs-validation createContact-form" id="createContact-form">
            <div class="row">
              <div class="col-lg-12">
                <input type="hidden" class="form-control" id="userid-input">
                <div class="text-center mb-4">
                  <div class="position-relative d-inline-block">
                    <div class="position-absolute bottom-0 end-0">
                      <label for="member-image-input" class="mb-0" data-bs-toggle="tooltip" data-bs-placement="right" title="{{'Select Member Image'| translate}}">
                        <div class="avatar-xs">
                          <div class="avatar-title bg-light border rounded-circle text-muted cursor-pointer">
                            <i class="bx bxs-image-alt"></i>
                          </div>
                        </div>
                      </label>
                      <input class="form-control d-none" value="" id="member-image-input" type="file" accept="image/png, image/gif, image/jpeg" (change)="fileChange($event)">
                    </div>
                    <div class="avatar-lg">
                      <div class="avatar-title bg-light rounded-circle">
                        <img src="assets/images/users/user-dummy-img.jpg" id="member-img" class="avatar-md rounded-circle h-auto" />
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <form>
                  <div class="mb-3">
                      <label for="formrow-firstname-input">First name</label>
                      <input type="text" class="form-control" id="formrow-firstname-input" placeholder="Enter Your First Name">
                  </div>

                  <div class="row">

                      <div class="col-md-6">
                          <div class="mb-3">
                              <label for="formrow-email-input">Email</label>
                              <input type="email" class="form-control" id="formrow-email-input" placeholder="Enter Your Email ID">
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="mb-3">
                              <label for="formrow-password-input">Password</label>
                              <input type="password" class="form-control" id="formrow-password-input" placeholder="Enter Your Password" />
                          </div>
                      </div>
                  </div>

                  <div class="row">
                      <div class="col-lg-4">
                          <div class="mb-3">
                              <label for="formrow-inputCity">City</label>
                              <input type="text" class="form-control" id="formrow-inputCity" placeholder="Enter Your Living City">
                          </div>
                      </div>
                      <div class="col-lg-4">
                          <div class="mb-3">
                              <label for="formrow-inputState">State</label>
                              <select id="formrow-inputState" class="form-control">
                                  <option selected>Choose...</option>
                                  <option>...</option>
                              </select>
                          </div>
                      </div>

                      <div class="col-lg-4">
                          <div class="mb-3">
                              <label for="formrow-inputZip">Zip</label>
                              <input type="text" class="form-control" id="formrow-inputZip" placeholder="Enter Your Zip Code">
                          </div>
                      </div>
                  </div>

                  <div class="mb-3">
                      <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="gridCheck">
                          <label class="form-check-label" for="gridCheck">
                              Check me out
                          </label>
                      </div>
                  </div>
                  <div>
                      <button type="submit" class="btn btn-primary w-md">Submit</button>
                  </div>
              </form> -->
              <div class="mb-3">
                <label for="email-input" class="form-label">{{'Email'|translate}}</label>
                <input type="email" id="email-input" class="form-control" placeholder="{{'Enter the email'|translate}}" formControlName="email" required />
                <div class="invalid-feedback">{{'Please enter the email'  | translate}}.</div>
              </div>
                <div class="mb-3">
                  <label for="username-input" class="form-label">{{'UserName'| translate}}</label>
                  <input type="text" id="username-input" class="form-control" placeholder="{{'Enter the username'| translate}}" formControlName="username" required />
                  <div class="invalid-feedback">{{'Please enter the username'  | translate}}.</div>
                </div>
               
                <div class="mb-3">
                  <label for="Password" class="form-label">{{'Password'|translate}}</label>
                  <input type="password" formControlName="password"  class="form-control" id="Password" placeholder="{{'Enter the Password'| translate}}">
                  <div class="invalid-feedback">{{'Please enter the password'|translate}}.</div>
                </div>
                <div class="mb-3">
                  <label for="phone" class="form-label">{{'Phone'| translate}}</label>
                  <input class="form-control" formControlName="phone" type="tel" value="1-(555)-555-5555" id="phone" placeholder="{{'Enter the Phone'|translate}}">
                  <div class="invalid-feedback">{{'Please enter the phone number'|translate}}.</div>
                </div>
                <div class="mb-3">
                  <label for="companyRegister" class="form-label">{{'Company Registration'| translate}}</label>
                  <input class="form-control" formControlName="companyRegister" type="text"  id="companyRegister" placeholder="{{'Enter the Company Registration Code'| translate}}">
                  <div class="invalid-feedback">{{'Please enter the company registration code'| translate}}.</div>
                </div>
                <div class="row">
                  <div class="col-lg-4">
                      <div class="mb-3">
                          <label for="city">{{'City'| translate}}</label>
                          <input type="text" class="form-control" formControlName="city" id="city" placeholder="{{'Enter Your Living City'|translate}}">
                      </div>
                  </div>
                  <div class="col-lg-4">
                      <div class="mb-3">
                          <label for="country">{{'Country'| translate}}</label>
                          <select id="country" class="form-control" formControlName="country">
                              <option selected>{{'Choose...'|translate}}</option>
                              <option>{{'SAR'| translate}}</option>
                          </select>
                      </div>
                  </div>

                  <div class="col-lg-4">
                      <div class="mb-3">
                          <label for="building">{{'Building'| translate}}</label>
                          <input type="text" class="form-control" formControlName="building" id="building" placeholder="{{'Enter Building Name'| translate}}">
                      </div>
                  </div>
              </div>

              </div>
  
              <div class="col-lg-12">
                <div class="text-end">
                  <button type="button" class="btn btn-outline-secondary me-1" (click)="newContactModal.hide()">{{'Cancel'|translate}}</button>
                  <button type="submit" id="addContact-btn" class="btn btn-success">{{'Add'| translate}}</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!-- end modal body -->
      </div>
      <!-- end modal-content -->
    </div>
    <!-- end modal-dialog -->
  </div>
  <!-- end newContactModal -->
  <div id="elmLoader" class="text-center">
    <div class="spinner-border text-primary avatar-sm" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  
  <!-- removeItemModal -->
  <div bsModal #removeItemModal="bs-modal" class="modal fade" id="removeItemModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content">
        <div class="modal-body px-4 py-5 text-center">
          <button type="button" class="btn-close position-absolute end-0 top-0 m-3" (click)="removeItemModal.hide()"></button>
          <div class="avatar-sm mb-4 mx-auto">
            <div class="avatar-title bg-primary text-primary bg-opacity-10 font-size-20 rounded-3">
              <i class="mdi mdi-trash-can-outline"></i>
            </div>
          </div>
          <p class="text-muted font-size-16 mb-4">{{'Are you Sure You want to disable this User ?'|translate}}</p>
  
          <div class="hstack gap-2 justify-content-center mb-0">
            <button type="button" class="btn btn-danger me-1" id="remove-item" (click)="confirmDelete(deleteId)">{{'Disable Now'|translate}}</button>
            <button type="button" class="btn btn-secondary" (click)="removeItemModal.hide()">{{'Close'| translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end removeItemModal -->