    <!-- <div class="table-responsive">
      <div id="elmLoader" class="text-center">
        <div class="spinner-border text-primary avatar-sm" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>       
      <table class="table align-middle table-nowrap table-hover dt-responsive nowrap w-100" id="userList-table">
                <thead class="table-light">
                  <tr>
                    <th scope="col" style="width: 40px;">#</th>
                    <th scope="col" *ngFor="let columnHead of tableConfig?.columns">
                    <th *ngIf="tableConfig?.rowActions?.length" scope="col" style="width: 200px;">{{ 'Actions' | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                <ng-container *ngIf="filteredArray && filteredArray.length > 0; else noItems">
                  <ng-container  *ngFor="let data of filteredArray; let i= index "> 
                  <tr *ngIf="data.status == 'active' ||data.status == 'inactive' ">
                    <td>
                        <div class="form-check font-size-16">
                          <input class="form-check-input" type="checkbox" id="transactionCheck{{data.index}}" value="{{data.id}}" [(ngModel)]="data.state">
                          <label class="form-check-label" for="transactionCheck{{data.index}}"></label>
                        </div>
                      </td>
                    <td>
                      <h5 class="font-size-14 mb-1"><a href="javascript: void(0);" class="text-dark">{{data.name}}</a>
                      </h5>
                      
                    </td>
                   
                    <td>{{data.merchant.merchantName}}</td>
                    <td>{{data.city}}</td>
                    <td>
                      {{data.offers.total}}
                    </td>
                    <td>
                      <ui-switch  color="##343a40"  [checked]="data.status == 'active'"  uncheckedLabel="inactive" checkedLabel="active" size="small" class="me-1" (changeEvent)="onChangeEvent(data,$event)" ></ui-switch> -->

                        <!-- <span class="badge badge-pill badge-soft-success font-size-11" [ngClass]=" { 'badge-soft-success': data.user.status === 'active',
                                      'badge-soft-danger':data.user.status === 'inactive' }">{{data.user.status}}</span> -->
                      <!-- </td>
                    <td>
                      <ul class="list-inline font-size-20 contact-links mb-0"> -->
                        <!-- <li class="list-inline-item px-2">
                          <a href="javascript:void(0);" tooltip="Message"><i class="bx bx-message-square-dots"></i></a>
                        </li>
                        <li class="list-inline-item px-2">
                          <a href="javascript:void(0);" tooltip="Profile"><i class="bx bx-user-circle"></i></a>
                        </li> -->
                        <!-- <td>
                          <ul class="list-unstyled hstack gap-1 mb-0">
                            <li data-bs-toggle="tooltip" data-bs-placement="top" title="{{'View'|translate}}">
                              <a [routerLink]="['/private/stores/edit/', data.id]" class="btn btn-sm btn-soft-primary" *hasClaim="[{claimType: Modules.All, claimValue: [Permission.All]},{claimType: Modules.Stores, claimValue: [Permission.View]}]" ><i class="mdi mdi-eye-outline"></i></a>
                            </li>
                            <li data-bs-toggle="tooltip" data-bs-placement="top" title="{{'Edit'|translate}}">
                            <a href="javascript:void(0);" class="btn btn-sm btn-soft-info" (click)="editDataGet(data.id,content)"><i class="mdi mdi-pencil-outline"></i></a> -->
                              <!-- <a [routerLink]="['/private/stores/edit/', data.id]" class="btn btn-sm btn-soft-info" *hasClaim="[{claimType: Modules.All, claimValue: [Permission.All]},{claimType: Modules.Stores, claimValue: [Permission.Update]}]" ><i class="mdi mdi-pencil-outline"></i></a>

                            </li>
                            <li data-bs-toggle="tooltip" data-bs-placement="top" title="{{'Delete'| translate}}"> -->
                              <!-- <a href="javascript:void(0);" data-bs-toggle="modal" class="btn btn-sm btn-soft-danger" (click)="delete($event)"><i class="mdi mdi-delete-outline"></i></a> -->
                              <!-- <a href="javascript:void(0);" data-bs-toggle="modal" class="btn btn-sm btn-soft-danger" *hasClaim="[{claimType: Modules.All, claimValue: [Permission.All]},{claimType: Modules.Merchants, claimValue: [Permission.Delete]}]" (click)="disableMerchant(data.id)"><i class="mdi mdi-delete-outline"></i></a>

                            </li>
                          </ul>
                        </td>
                        
                      </ul>
                    </td>
                  </tr>
                  </ng-container>
                 </ng-container> -->
                    <!-- Template for No Items Available -->
                    <!-- <ng-template #noItems>
                      <tr>
                        <td colspan="5" class="text-center">
                          <p>{{'No items available' | translate}}</p>
                        </td>
                      </tr>
                    </ng-template>
                  
                </tbody>
              </table>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <ul class="pagination pagination-rounded justify-content-center mt-4">
                  <pagination class="pagination-wrap hstack gap-2" [totalItems]="filteredArray?.length" [itemsPerPage]="10" (pageChanged)="pageChanged($event)"></pagination>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

   -->

  
  <!-- removeItemModal -->
  <!-- <div bsModal #removeItemModal="bs-modal" class="modal fade" id="removeItemModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content">
        <div class="modal-body px-4 py-5 text-center">
          <button type="button" class="btn-close position-absolute end-0 top-0 m-3" (click)="removeItemModal.hide()"></button>
          <div class="avatar-sm mb-4 mx-auto">
            <div class="avatar-title bg-primary text-primary bg-opacity-10 font-size-20 rounded-3">
              <i class="mdi mdi-trash-can-outline"></i>
            </div>
          </div>
          <p class="text-muted font-size-16 mb-4">{{'Are you Sure You want to delete this Store ?'|translate}}</p>
  
          <div class="hstack gap-2 justify-content-center mb-0">
            <button type="button" class="btn btn-danger me-1" id="remove-item" (click)="confirmDelete()">{{'Disable Now'|translate}}</button>
            <button type="button" class="btn btn-secondary" (click)="removeItemModal.hide()">{{'Close'| translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- end removeItemModal -->